<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
</head>
<body>
<div>
    <H1>APP2</H1>
    <div>
        <button onclick="getApp1Principal()">get principal from app1</button>
    </div>
    <div>
        <button onclick="getApp2Principal()">get principal from app2</button>
    </div>
    <div>
        <a th:href="@{http://localhost:8888/app1}">go to APP1</a>
    </div>
    <div>
        <a th:href="@{http://localhost:9999/app2}">go to APP2</a>
    </div>
    <div>
        <a th:href="@{/logout}">logout</a>
    </div>
</div>
<hr>
<div id="principalDiv">

</div>
<script th:inline="javascript">
    function getApp1Principal() {
        $.ajax({
            url: 'http://localhost:8888/app1/test/principal',
            type: 'POST',
            xhrFields: {withCredentials: true},
            success: (data) => {
                console.info(data);
                $('#principalDiv').append('<p>' + JSON.stringify(data) + '</p>');
            }
        });
    }

    function getApp2Principal() {
        $.ajax({
            url: 'http://localhost:9999/app2/test/principal',
            type: 'POST',
            xhrFields: {withCredentials: true},
            success: (data) => {
                console.info(data);
                $('#principalDiv').append('<p>' + JSON.stringify(data) + '</p>');
            }
        });
    }
</script>
</body>
</html>