<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
</head>
<body>
<div>
    <div>
        <button onclick="test()">test</button>
    </div>
    <div>
        <a th:href="@{http://localhost:8888}">go to APP1</a>
    </div>
    <div>
        <a th:href="@{http://localhost:9999}">go to APP2</a>
    </div>
    <div>
        <a th:href="@{/logout}">logout</a>
    </div>
</div>
<hr>
<div id="principalDiv">

</div>
<script th:inline="javascript">
    let port = [[${port}]];

    function test() {
        $.ajax({
            url: 'http://localhost:' + port + '/test/principal',
            type: 'POST',
            success: (data) => {
                console.info(data);
                $('#principalDiv').append('<p>' + JSON.stringify(data) + '</p>');
            }
        });
    }
</script>
</body>
</html>